<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shield"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_shield"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignalOne">

        <activity android:name=".ui.BienvenidaActivity" android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegistroActivity"         android:screenOrientation="portrait"/>
        <activity android:name=".ui.LoginActivity"            android:screenOrientation="portrait"/>
        <activity android:name=".ui.RecuperarActivity"        android:screenOrientation="portrait"/>
        <activity android:name=".ui.PrincipalActivity"        android:screenOrientation="portrait"/>
        <activity android:name=".ui.AlertaActivaActivity"     android:screenOrientation="portrait"/>
        <activity android:name=".ui.ContactosActivity"        android:screenOrientation="portrait"/>
        <activity android:name=".ui.HistorialActivity"        android:screenOrientation="portrait"/>
        <activity android:name=".ui.ModoDiscretoActivity"     android:screenOrientation="portrait"/>
    </application>
</manifest>
